/* Toolbox container */
.lumi-doc-editor-toolbox {
    display: flex;
    flex-direction: column;
    background-color: #1B1C1D;
    padding-bottom: 10px;
}

/* Container for the tab content */
.lumi-doc-editor-toolbox-tab {
    overflow-y: auto;
    margin-right: 8px;
}

/* Menubar styling */
.lumi-doc-editor-toolbox-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    border: none;
    margin-bottom: 15px;
    min-height: 50px;
    background-color: #1B1C1D;
}

.lumi-doc-editor-toolbox-menu .p-button {
    flex: 1 0 auto;
    min-width: 7rem;
    background-color: #1B1C1D;
    outline: none;
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin: 0 !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.589);
    color: rgba(255, 255, 255, 0.87);
}

.lumi-doc-editor-toolbox-menu .p-button:hover{
    background-color: #41444697;
}

.lumi-doc-editor-toolbox-menu .p-button.selected {
    background-color: rgba(58, 92, 133, 0.571);
    color: rgb(85, 161, 254);
    border-bottom: 2px solid rgb(85, 161, 254);
}

.lumi-doc-editor-toolbox-menu .p-button .p-button-label{
    font-size: 11pt !important;
    font-weight: 400;
    font-family: "Poppins";
    display: flex;
}

/* =============================================== */
/* Overwrite PrimeReact component styles */

.p-button.p-component {
    margin: 3px 6px 3px 0px;
    padding: 6px 10px 6px 10px;
}

.p-toast-message-error {
    background-color: rgba(255, 105, 105, 0.5);
    color: rgb(254, 237, 237)
}

.p-toast-message-success {
    background-color: rgba(16, 185, 129, 0.5);
    color: rgb(229, 247, 241); 
}

.p-toast-message-info {
    background-color: rgba(73, 130, 221, 0.717);
    color: rgb(231, 240, 255);
}