div.lumi-doc-view-ModelObject{
    width: 100%;
    text-align: center;
}

p.lumi-doc-view-ModelObject {
    width: 100%;
    margin-left: 0.08cm;
    padding-top: 4px;
    padding-bottom: 10px;
    text-align: center;
    white-space: pre-wrap;
    font-family: inherit;
    font-size: 9pt;
    border: none;
}

h4.lumi-doc-view-ModelObject {
    height: auto; 
    width: auto;
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 5px;
}