<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="static/editor/img/logo.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>lumi doc Editor</title>
    <script defer="defer" src="static/editor/lumiDocEditor.js"></script>
    <link href="static/editor/lumiDocEditor.css" rel="stylesheet">
</head>

<body>
    <lumidoceditor requesturl="<%= requestUrl %>"></lumidoceditor>
</body>

</html>