<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="static/img/logo.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>lumi Session Manager</title>
    <script defer="defer" src="static/lumiServerUI.js"></script>
    <link href="static/lumiServerUI.css" rel="stylesheet">
</head>

<body>
    <lumisessionmanager requesturl="<%= requestUrl %>"></lumisessionmanager>
</body>

</html>